/* div{
    border: 1px solid black;
} */

.bigbox{
    height: 200px;
    flex-shrink: 1;
}

.top{
    margin: 10px;
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

.img{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    width: 80%;
}

.menubar{
    display: flex;
    justify-content: flex-end;
    height: 25%;
    margin-bottom: 10px;
}

p{
    margin-right: 10px;
    border-bottom: 1px solid black;
    font-size: 3px;
}

.inputbutton{
    display: flex;
    width: 97%;
    height: 100%;

}

.inputbar{
    width: 80%;
    height: 80%;
    border: 5px solid orange;
    margin-right: 1px;
}

.button{
    width: 10%;
    height: 80%;
}

input{
    width: 97%;
    height: 90%;
    border: 0px;
}

button{
    width: 100%;
    height: 133%;
    font-size: 20px;
    text-align: center;
    border: 5px solid orange;
    background-color: orange;
}

.input{
    height: 40%;
}

img{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
}